#house {
  height: 10.8rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links > a {
  margin: 0 1.65rem;
}

.instagram-logo {
  height: 4.2rem;
}

.soundcloud-logo {
  height: 3rem;
}

.youtube-logo {
  height: 3.75rem;
}

#spiritshop {
  position: relative;
  overflow: hidden;
}

.spiritshop-logo {
  z-index: 1;
  width: 75%;
  max-width: 50rem;
}

.spiritshop-photo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
/*  filter: grayscale(100%); */
}

#sp-1 {
  animation: 12s opacity-1 step-end infinite, 12s zoom-1 linear infinite;
}

#sp-2 {
  animation: 12s opacity-1 step-end 4s infinite, 12s zoom-1 linear 4s infinite;
}

#sp-3 {
  animation: 12s opacity-1 step-end 8s infinite, 12s zoom-1 linear 8s infinite;
}

.overlay {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  -webkit-backdrop-filter: blur(0.5px);
  backdrop-filter: blur(0.5px);
}

@keyframes opacity-1 {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom-1 {
  0% {
    transform: scale(1);
  }
  34% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.25);
  }
}
