* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1vh;
  letter-spacing: 0.06em;
}

body {
  background: #222;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

@media (max-width: 50vh) {
  html {
    font-size: 2vw;
  }
}

@media (max-width: 75vh) {
  body {
    scroll-snap-type: none;
  }
}

.html-insta {
  font-size: 7.2px;
}

@media (max-width: 360px) {
  .html-insta {
    font-size: 6.6px;
  }
}

.header, .footer, .container {
  display: flex;
  width: 100%;
  height: 81rem;
  flex: 0 0 auto;
}

.header {
    scroll-snap-align: start;
}

.container {
    scroll-snap-align: center;
}

.footer {
    scroll-snap-align: end;
}

.column {
  padding: 6rem 6rem;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.text > * {
  width: 100%;
  max-width: 48rem;
}

.box {
  display: flex;
  flex-flow: column;
}

.box > * {
  margin-bottom: 1.5rem;
}

.box > *:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  font-size: 2.25rem;
  word-break: break-all;
}

a:hover {
  opacity: 0.66;
}

.button-1 {
  background: none;
  padding: 0 3rem;
  border: #fff solid 0.21rem;
  border-radius: 2.85rem;
  line-height: 5.7rem;
  text-align: center;
  text-decoration: none;
}

.button-1:hover {
  opacity: 1;
  color: #222;
  background: #fff;
  border-color: #fff;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 700;
}

h1, h2 {
  font-size: 4.2rem;
}

.footer > h1 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  font-size: 2.1rem;
}

.huge {
  font-size: 12rem;
  line-height: 1em;
  word-wrap: break-word;
}

.copyright {
  font-size: 1.8rem;
}

.email {
  font-size: 3rem;
  word-break: break-all;
}

.center {
  text-align: center;
}

path {
  fill: #fff;
}

.button {
  display: block;
  background: #fff;
  color: #222;
  font-size: 2.1rem;
  line-height: 2.7rem;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-weight: 600; 
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 1rem;
}

.grey {
  color: #aaa;
}

.dark {
  background: #111;
}

.gradient {
  background: rgb(68, 68, 68);
  background: linear-gradient(
    120deg,
    rgba(68, 68, 68, 1) 0%,
    rgba(34, 34, 34, 1) 27%,
    rgba(68, 68, 68, 1) 73%,
    rgba(34, 34, 34, 1) 100%
  );
}
