.header {
  background: rgb(68, 68, 68);
  background: linear-gradient(
    120deg,
    rgba(68, 68, 68, 1) 0%,
    rgba(34, 34, 34, 1) 27%,
    rgba(68, 68, 68, 1) 73%,
    rgba(34, 34, 34, 1) 100%
  );
  text-align: center;
}

#house {
  height: 10.8rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links > a {
  margin: 0 1.65rem;
}

.instagram-logo {
  height: 4.2rem;
}

.soundcloud-logo {
  height: 3rem;
}

.youtube-logo {
  height: 3.75rem;
}

#img-slider {
  background: #111;
  position: relative;
  overflow: hidden;
}

.img-slide {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  filter: grayscale(100%);
}

#spiritshop {
  z-index: 1;
  width: 100%;
  max-width: 50rem;
}

.overlay {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  -webkit-backdrop-filter: blur(0.5px);
  backdrop-filter: blur(0.5px);
}

@keyframes opacity-1 {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom-1 {
  0% {
    transform: scale(1);
  }
  34% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.25);
  }
}

#img-slide-1 {
  background: url("https://i.ibb.co/XFXRbnt/spiritshop-pic-4.jpg");
  background-size: cover;
  background-position: 70% 30%;
  animation: 12s opacity-1 step-end infinite, 12s zoom-1 linear infinite;
}

#img-slide-2 {
  background: url("https://i.ibb.co/5G7MWMt/spiritshop-pic-6.jpg");
  background-size: cover;
  background-position: 55% 40%;
  animation: 12s opacity-1 step-end 4s infinite, 12s zoom-1 linear 4s infinite;
}

#img-slide-3 {
  background: url("https://i.ibb.co/SdGgpLz/spiritshop-pic-1.jpg");
  background-size: cover;
  background-position: 45% 40%;
  animation: 12s opacity-1 step-end 8s infinite, 12s zoom-1 linear 8s infinite;
}

#slide-full-moon-party {
  background: #222;
}

#slide-about {
  background: #111;
  color: #fff;
}

#slide-contact {
  background: rgb(68, 68, 68);
  background: linear-gradient(
    240deg,
    rgba(68, 68, 68, 1) 0%,
    rgba(34, 34, 34, 1) 100%
  );
}

.email {
  font-size: 3rem;
  word-break: break-all;
}

.links {
  font-size: 2.1rem;
  word-break: break-all;
}
