* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  display: none;
}

.slider {
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 120px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  background: #777;
  align-items: center;
  justify-content: center;
}
.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 120px;
  filter: grayscale(100%);
}
.slider .overlay {
  display: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("https://i.ibb.co/8g7NDx8/overlay-1.png");
}
.slider .logo {
  margin: auto auto 5vh;
  z-index: 1;
  width: 75vw;
  min-height: 1.25rem;
  max-height: 10vh;
}
.slider .logo path {
  fill: white;
}
.slider .instagram-logo {
  margin: 5vh auto auto;
  z-index: 1;
  height: 8vw;
  min-height: 1.25rem;
  max-height: 8vh;
}
.slider .instagram-logo path {
  fill: white;
}

@keyframes opacity-1 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoom-1 {
  0% {
    transform: scale(1.5) translate(10%, -10%);
  }
  100% {
    transform: scale(1) translate 0, 0;
  }
}
@keyframes zoom-2 {
  0% {
    transform: scale(1.5) translate(0, 10%);
  }
  100% {
    transform: scale(1) translate 0, 0;
  }
}
@keyframes zoom-3 {
  0% {
    transform: scale(1.5) translate(-10%, -10%);
  }
  100% {
    transform: scale(1) translate 0, 0;
  }
}
@keyframes zoom-4 {
  0% {
    transform: scale(1.5) translate(10%, 0);
  }
  100% {
    transform: scale(1) translate 0, 0;
  }
}
.slide-1 {
  background: url("https://i.ibb.co/FKYb1CM/spiritshop-pic-3.jpg");
  background-size: cover;
  background-position: center;
  animation: 16s opacity-1 linear infinite, 8s zoom-1 linear infinite;
}

.slide-2 {
  background: url("https://i.ibb.co/XFXRbnt/spiritshop-pic-4.jpg");
  background-size: cover;
  background-position: center;
  animation: 16s opacity-1 linear 4s infinite, 8s zoom-2 linear 4s infinite;
}

.slide-3 {
  background: url("https://i.ibb.co/0jLDFN8/spiritshop-pic-2.jpg");
  background-size: cover;
  background-position: center;
  animation: 16s opacity-1 linear 8s infinite, 8s zoom-3 linear infinite;
}

.slide-4 {
  background: url("https://i.ibb.co/SdGgpLz/spiritshop-pic-1.jpg");
  background-size: cover;
  background-position: center;
  animation: 16s opacity-1 linear 12s infinite, 8s zoom-4 linear 4s infinite;
}
