* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #222;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1vh;
  letter-spacing: 0.05em;
  scroll-behavior: smooth;
}

body {
  background: #222;
}

@media (max-width: 50vh) {
  html {
    font-size: 2vw;
  }
}

.html-insta {
  font-size: 7.2px;
}

@media (max-width: 360px) {
  .html-insta {
    font-size: 6.6px;
  }
}

a {
  color: inherit;
  font-size: 2.7rem;
}

a:hover {
  opacity: 0.66;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h1, h2 {
  font-size: 3rem;
}

.date {
  font-size: 12rem;
  word-wrap: break-word;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.7rem;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-size: 2.1rem;
}

.copyright {
  font-size: 1.8rem;
}

ul {
  list-style-type: none;
}

li {
  padding: 0.6rem 0;
}

path {
  fill: #fff;
}

.slide {
  width: 100%;
  height: 80rem;
  padding: 10rem 5rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.slide-text > * {
  width: 100%;
  max-width: 50rem;
}

.button {
  display: block;
  background: #fff;
  color: #222;
  font-size: 2.4rem;
  line-height: 3rem;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-weight: 600; 
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 1rem;
}

.gray {
  color: #aaa;
}

.gradient {
  background: rgb(68, 68, 68);
  background: linear-gradient(
    120deg,
    rgba(68, 68, 68, 1) 0%,
    rgba(34, 34, 34, 1) 27%,
    rgba(68, 68, 68, 1) 73%,
    rgba(34, 34, 34, 1) 100%
  );
  text-align: center;
}

#slide-listen-music {
  text-align: center;
  background-color: #111;
  animation: partyLights .33s step-end infinite;
}
