.sp-1 {
  animation: 12s opacity-1 step-end infinite, 12s zoom-1 linear infinite;
}

.sp-2 {
  animation: 12s opacity-1 step-end 4s infinite, 12s zoom-1 linear 4s infinite;
}

.sp-3 {
  animation: 12s opacity-1 step-end 8s infinite, 12s zoom-1 linear 8s infinite;
}

@keyframes opacity-1 {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom-1 {
  0% {
    transform: scale(1);
  }
  34% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.25);
  }
}

.shake {
  animation: shake 5s step-end 4.5s infinite;
}

.shake-left {
  animation: shake-left 5s step-end 1s infinite;
}

.shake-right {
  animation: shake-right 5s step-end infinite;
}

.shake-right-2 {
  animation: shake-right 5s step-end 2s infinite;
}

.shake-right-3 {
  animation: shake-right 5s step-end 3s infinite;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  92% {
    transform: translate(-1.2rem, 0);
  }
  94% {
    transform: translate(1.2rem, 0);
  }
  96% {
    transform: translate(-1.2rem, 0);
  }
  98% {
    transform: translate(1.2rem, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes shake-left {
  0% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  92% {
    transform: translate(-2.4rem, 0);
  }
  94% {
    transform: translate(0, 0);
  }
  96% {
    transform: translate(-2.4rem, 0);
  }
  98% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes shake-right {
  0% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  92% {
    transform: translate(2.4rem, 0);
  }
  94% {
    transform: translate(0, 0);
  }
  96% {
    transform: translate(2.4rem, 0);
  }
  98% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.beat-1 {
  animation: beat 5s step-end infinite;
}

.beat-2 {
  animation: beat 5s step-end 2s infinite;
}

.beat-3 {
  animation: beat 5s step-end 4s infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  92.5% {
    transform: scale(1.15);
  }
  95% {
    transform: scale(1);
  }
  97.5% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  } 
}

.pulse {
    animation: 1s pulse step-end infinite;
}

@keyframes pulse {
  0% {
    background: #222;
  }
  15% {
    background: #333;
  }
  30% {
    background: #222;
  }
  45% {
    background: #333;
  }
  60% {
    background: #222;
  }
}
